# Sesión 12 - Competidores Olimpicos

##### Crear un programa en Visual Studio que me permita saber cuál es el competidor más veterano que ha recibido medalla (oro, plata o bronce)
##### Crear un programa en Visual Studio que me permita saber cuál es el competidor más joven que ha recibido medalla de oro
##### Encuentra al competidor más ganador de la historia y crea un csv con toda su información.

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
datos= pd.read_csv("C:\\Users\\user\\\Documents\\GitHub\\TareasRoel\\athlete_events.csv")

In [3]:
datos

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
datos["Age"].min()

10.0

In [5]:
datos[datos["Age"]==10]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze

In [6]:
datos["Age"].max()

97.0

In [7]:
datos[datos["Age"]==97]datos[datos["Age"]==97]

SyntaxError: invalid syntax (556536872.py, line 1)

In [8]:
datosMedalla=datos[((datos["Medal"]=="Gold") | (datos["Medal"]=="Silver")| (datos["Medal"]=="Bronze")) ]

### Personas con 3 medallas

In [9]:
datosMedalla

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [10]:
datosMedalla["Name"].value_counts()

Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Ole Einar Bjrndalen                   13
Edoardo Mangiarotti                   13
                                      ..
Kirill Olegovich Ivanov                1
Ivan Ivanov Ivanov                     1
Haralambie Ivanov                      1
Georgi Ivanov                          1
Henryk Leliwa-Roycewicz                1
Name: Name, Length: 28202, dtype: int64

### Competidor más veterano

In [11]:
datosVeterano = datos["Age"].max()

In [12]:
datosVeterano

97.0

In [13]:
datos[datos["Age"]==97]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN

### Competidor más joven que ha recibido medalla de oro

In [14]:
datosOro=datos[datos["Medal"]=="Gold"]

In [15]:
datosOro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270981,135503,Zurab Zviadauri,M,23.0,182.0,90.0,Georgia,GEO,2004 Summer,2004,Summer,Athina,Judo,Judo Men's Middleweight,Gold
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271016,135523,"Ronald Ferdinand ""Ron"" Zwerver",M,29.0,200.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Volleyball,Volleyball Men's Volleyball,Gold
271049,135545,Henk Jan Zwolle,M,31.0,197.0,93.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,Gold
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [16]:
datosOro["Age"].min()

13.0

In [17]:
datosOro[datosOro["Age"]==13]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
27207,14142,Hans Bourquin,M,13.0,NaN,NaN,Switzerland,SUI,1928 Summer,1928,Summer,Amsterdam,Rowing,Rowing Men's Coxed Pairs,Gold
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
73581,37398,Fu Mingxia,F,13.0,160.0,48.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Diving,Diving Women's Platform,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
119277,60384,Kim Yun-Mi,F,13.0,160.0,48.0,South Korea,KOR,1994 Winter,1994,Winter,Lillehammer,Short Track Speed Skating,"Short Track Speed Skating Women's 3,000 metres...",Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold
268602,134381,Klaus Zerta,M,13.0,165.0,48.0,Germany,GER,1960 Summer,1960,Summer,Roma,Rowing,Rowing Men's Coxed Pairs,Gold

## Competidor más ganador de la historia

In [18]:
datos["Name"].value_counts()

Robert Tait McKenzie            58
Heikki Ilmari Savolainen        39
Joseph "Josy" Stoffel           38
Ioannis Theofilakis             36
Takashi Ono                     33
                                ..
Tatyana Vasilyevna Kalmykova     1
Mariya Lvovna Kalmykova          1
Christine Kalmer                 1
Joannis "Jannis" Kalmazidis      1
Pierre-Georges LeClercq          1
Name: Name, Length: 134732, dtype: int64

In [21]:
print("Mas Ganador: Robert Tait McKenzie")

Mas Ganador: Robert Tait McKenzie

# Avanzado

### Crear un programa en Visual Studio que me permita saber cuál es e### competidor más veterano que ha recibido medalla para los NOC´s MEX, COL y ARG (oro, plata o bronce) 
### Crear un programa en Visual Studio que me permita saber cuál es e### competidor más joven que ha recibido medalla de oro para los NOC´s USA y CAN
### Encuentra al competidor más ganador de la historia en medallas totales, medallas de oro, medallas de plata y medallas de broce para los NOC´s USA, CHN y RUS. 
### Crea un csv con toda su información.

In [22]:
datosPais=datosMedalla[((datosMedalla["NOC"]=="MEX") | (datosMedalla["NOC"]=="COL")| (datosMedalla["Medal"]=="ARG")) ]

In [23]:
datosPais

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1173,654,Daniel Aceves Villagrn,M,19.0,158.0,52.0,Mexico,MEX,1984 Summer,1984,Summer,Los Angeles,Wrestling,"Wrestling Men's Flyweight, Greco-Roman",Silver
5689,3206,Yuri Alvear Orjuela,F,26.0,176.0,70.0,Colombia,COL,2012 Summer,2012,Summer,London,Judo,Judo Women's Middleweight,Bronze
5690,3206,Yuri Alvear Orjuela,F,30.0,176.0,70.0,Colombia,COL,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Women's Middleweight,Silver
8661,4757,Javier Ignacio Aquino Carmona,M,22.0,165.0,62.0,Mexico,MEX,2012 Summer,2012,Summer,London,Football,Football Men's Football,Gold
11204,6126,Mariana Avitia Martnez,F,18.0,164.0,61.0,Mexico,MEX,2012 Summer,2012,Summer,London,Archery,Archery Women's Individual,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250719,125576,Fabin Vzquez Lpez,M,37.0,165.0,72.0,Mexico,MEX,1980 Summer,1980,Summer,Moskva,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Bronze
252440,126410,Nstor Vicente Vidrio Serrano,M,23.0,179.0,69.0,Mexico,MEX,2012 Summer,2012,Summer,London,Football,Football Men's Football,Gold
266350,133251,Jos Manuel Youshimatz Sotomayor,M,22.0,165.0,56.0,Mexico,MEX,1984 Summer,1984,Summer,Los Angeles,Cycling,Cycling Men's Points Race,Bronze
267591,133870,Alfonso Zamora Quiroz,M,18.0,160.0,54.0,Mexico,MEX,1972 Summer,1972,Summer,Munich,Boxing,Boxing Men's Bantamweight,Silver
267844,133999,Agustn Zaragoza Reyna,M,27.0,179.0,75.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Boxing,Boxing Men's Middleweight,Bronze

In [24]:
datosPais["Age"].max()

44.0

In [25]:
datosPais[datosPais["Age"]==44]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
64706,33109,Jos Pablo Eustaquio Manuel Francisco Escandn y...,M,44.0,NaN,NaN,A North American Team,MEX,1900 Summer,1900,Summer,Paris,Polo,Polo Men's Polo,Bronze
156528,78626,Manuel Mendvil Yocupicio,M,44.0,176.0,68.0,Mexico,MEX,1980 Summer,1980,Summer,Moskva,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Bronze

In [26]:
datosPaisOro = datosOro[((datosOro["NOC"]=="USA") | (datosOro["NOC"]=="CAN")) ]

In [27]:
datosPaisOro["Age"].min()

13.0

In [28]:
datosPaisOro[datosPaisOro["Age"]==13]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold

In [29]:
datosPaisOro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
283,150,Margaret Ives Abbott (-Dunne),F,23.0,NaN,NaN,United States,USA,1900 Summer,1900,Summer,Paris,Golf,Golf Women's Individual,Gold
609,351,Julius Shareef Abdur-Rahim,M,23.0,202.0,104.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
673,392,George Gordon Abel,M,35.0,NaN,NaN,Canada,CAN,1952 Winter,1952,Winter,Oslo,Ice Hockey,Ice Hockey Men's Ice Hockey,Gold
710,404,"Louis Grenville ""Lou"" Abell",M,15.0,NaN,NaN,Vesper Boat Club,USA,1900 Summer,1900,Summer,Paris,Rowing,Rowing Men's Coxed Eights,Gold
711,404,"Louis Grenville ""Lou"" Abell",M,19.0,NaN,NaN,Vesper Boat Club,USA,1904 Summer,1904,Summer,St. Louis,Rowing,Rowing Men's Coxed Eights,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266983,133576,"Stephen Gregory ""Steve"" Yzerman",M,36.0,180.0,84.0,Canada,CAN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Gold
267204,133685,Mariel Leigh Zagunis,F,19.0,173.0,72.0,United States,USA,2004 Summer,2004,Summer,Athina,Fencing,"Fencing Women's Sabre, Individual",Gold
267205,133685,Mariel Leigh Zagunis,F,23.0,173.0,72.0,United States,USA,2008 Summer,2008,Summer,Beijing,Fencing,"Fencing Women's Sabre, Individual",Gold
269922,135045,Rbert Zimonyi,M,46.0,170.0,52.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Rowing,Rowing Men's Coxed Eights,Gold
270394,135256,"Zachary ""Zac"" Zorn",M,21.0,193.0,86.0,United States,USA,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Gold

In [30]:
datosPaisOro.to_csv("C:\\Users\\user\\\Documents\\GitHub\\TareasRoel\\salida.csv", header=True, index=True)

In [31]:
datosJovenOro=datosPaisOro[datosPaisOro["Age"]==13]

In [32]:
datosJovenOro

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
52010,26731,Donna Elizabeth de Varona (-Pinto),F,13.0,168.0,61.0,United States,USA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
78544,39866,Marjorie Gestring (-Redlick),F,13.0,NaN,NaN,United States,USA,1936 Summer,1936,Summer,Berlin,Diving,Diving Women's Springboard,Gold
200704,100797,Aileen Muriel Riggin (-Soule),F,13.0,142.0,NaN,United States,USA,1920 Summer,1920,Summer,Antwerpen,Diving,Diving Women's Springboard,Gold

In [33]:
datosPaisOro.to_csv("C:\\Users\\user\\\Documents\\GitHub\\TareasRoel\\salidaOro.csv", header=True, index=True)